<style>
  .cart-countdown-wrapper {
	text-align: center;
  }
  .cart-countdown-wrapper-pds {
    text-align: left;
    background: linear-gradient(281deg, rgba(242, 102, 102, 1), rgb(217 102 102) 100%);
    padding: 4px;
    margin: 0;
    display: inline-block;
    color: #ffffff;
    border-radius: 4px;
  }
  .clockdiv {
    font-family: sans-serif;
    color: #000000;
    display: inline-block;
    font-weight: 100;
    text-align: center;
  }
  .clockdiv>div {
    padding: 2px 4px;
    border-radius: 2px;
    line-height: 2rem;
    background: #f3f3f3;
    display: inline-block;
  }
  .clockdiv .numbers {
    padding: 0;
    border-radius: 2px;
    display: inline-block;
  }
  .smalltext {
    padding-right: 1px;
    font-size: 14px;
  }
</style>

<div class="cart-countdown-wrapper{% if bPDS %} cart-countdown-wrapper-pds{% endif %}">
  <span>{{ text }}</span>
  <div class="clockdiv">
    <div>
      <span class="hours numbers">--</span>
      <span class="smalltext">H</span>
    </div>
    <div>
      <span class="minutes numbers">--</span>
      <span class="smalltext">M</span>
    </div>
    <div>
      <span class="seconds numbers">--</span>
      <span class="smalltext">S</span>
    </div>
  </div>
</div>

<script>
  var bCoundown = false;
  
  function fnStartCountdown() {
    bCoundown = true;
    
    const hoursSpan = document.querySelectorAll('.hours');
    const minutesSpan = document.querySelectorAll('.minutes');
    const secondsSpan = document.querySelectorAll('.seconds');

    function ShowTime() {
      var now = new Date();
      var hrs = 23 - now.getHours();
      var mins = 60 - now.getMinutes();
      var secs = 60 - now.getSeconds();

      for (i = 0; i < hoursSpan.length; ++i) {
        hoursSpan[i].innerHTML = hrs;
        minutesSpan[i].innerHTML = mins;
		    secondsSpan[i].innerHTML = secs;
      }
    }

    var countdown = setInterval(ShowTime, 1000);
  }

  document.addEventListener("DOMContentLoaded", function(event) {
    if(!bCoundown) {
      fnStartCountdown();
    }
  });
</script>
